{% load static %}

<div class="header">
    <div class="header__header">
        <a href="{% url 'servers:index' %}">
            <img class="logo" src="{% static 'img/header_logo.png' %}" alt="logo">
        </a>
        {% if user.is_authenticated %}
            <a class="logout_btn" href="{% url 'users:logout' %}"> Выйти </a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="header__body">
            <a class="main_page__link header__btn" href={% url 'servers:index' %}> Главная </a>
            <div class="profile">
                <a class="profile__link header__btn" href={% url 'users:profile' %}> Личный кабинет </a>
                <div class="profile__name"> Добро пожаловать, {{ user.username }}</div>
            </div>
        </div>
    {% endif %}
</div>