{% extends 'base.html' %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}
    <div class="profile__page">
        <div class="profile__item">
            <div class="item__label">Фамилия:</div>
            <div class="item__content">{{ user.last_name }}</div>
        </div>
        <div class="profile__item">
            <div class="item__label">Имя:</div>
            <div class="item__content">{{ user.first_name }}</div>
        </div>
        <div class="profile__item">
            <div class="item__label">Отчество:</div>
            <div class="item__content">{{ user.middle_name }}</div>
        </div>

        <div class="profile__item">
            <div class="item__label">Должность:</div>
            <div class="item__content">{{ user.work_position }}</div>
        </div>

        <div class="profile__item">
            <div class="item__label">Почта:</div>
            <div class="item__content">{{ user.email }}</div>
        </div>

        <a class="profile__edit_link" href="{% url 'users:edit_profile' %}"> Изменить данные </a>
    </div>

{% endblock %}