{% extends 'base.html' %}
{% block title %} Регистрация {% endblock %}

{% block content %}
    <div class="signup_form">
        <h2 class="signup_form__label">Создать аккаунт</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="signup_form__data">
                    <div class="signup_form__field_label">{{ field.label_tag }}</div>
                    <div class="signup_form__field">{{ field }}</div>
                    {% for error in field.errors %}
                        <p style="color: indianred; margin-left: 20px; font-size: 18px;">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="signup_btn__block">
                <button class="signup_btn" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
{% endblock %}